body {
    padding-top: 54px;
}

@media (min-width: 992px) {
    body {
        padding-top: 56px;
    }
}

.hidden {
    display: none;
}

#flashed_messages {
    left: 50%;
    margin: 10px auto;
}

.message-bubble 
{
    padding: 10px 0px 10px 0px;
}

.message-bubble:nth-child(even) { background-color: #F5F5F5; }

.message-bubble > *
{
    padding-left: 10px;    
}

.panel-body { padding: 0px; }

.panel-heading { background-color: #3d6da7 !important; color: white !important; }

.chart div {
    font: 10px sans-serif;
    background-color: green;
    text-align: right;
    padding: 3px;
    margin: 1px;
    color: white;
  }