<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}{% endblock %} | Dogechat</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <!-- Bootstrap core CSS -->
    <link href="{{url_for('static', filename='bs/css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='css/frame.css')}}" rel="stylesheet">

    <!-- Custom styles for this template -->
    {% block styles %}
    {% endblock %}

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="{{url_for('index')}}">
            <i class="fas fa-user-secret"></i> Dogechat
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('index')}}">Home
              </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('gchat')}}">GChat
                </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('profile')}}">Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('friendslist')}}">Friends</a>
            </li>
            {% if true %}
            <li class="nav-item">
                <a class="btn btn-success btn-md" href="#">
                    <i class="fas fa-door-closed"></i>
                    Login
                </a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="btn btn-danger btn-md" href="#">
                    <i class="fas fa-door-open"></i>
                    Logout
                </a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    {% block body %}
    {% endblock %}

    <!-- Bootstrap core JavaScript -->
    <script src="{{url_for('static', filename='bs/jquery/jquery.min.js')}}"></script>
    <script src="{{url_for('static', filename='bs/js/bootstrap.bundle.min.js')}}"></script>
    {% block jscripts %}
    {% endblock %}
  </body>

</html>
