{% extends 'frame.html' %}

{% block title %}{{name}}'s friends list{% endblock %}

{% block body %}
<!--Friends list-->
<div class="container">
    <div class="row">
        <div class="offset-lg-2 col-lg-8 col-sm-10 col-12 main-section text-center">
            <div class="row">
                <div class="col-lg-12 col-sm-12 col-12 profile-header"></div>
            </div>
            <div class="row user-detail">
                <div class="col-lg-12 col-sm-12 col-12">
                    placeholder lol
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}