{% extends 'frame.html' %}

{% block title %}{{name}}'s friends list{% endblock %}

{% block body %}
<!--Friends list-->
<div class="container">
    <div class="row">
        <div class="offset-lg-2 col-lg-8 col-sm-10 col-12 main-section text-center">
            <div class="row">
                <div class="col-lg-12 col-sm-12 col-12 profile-header"></div>
            </div>
            <div class="row user-detail">
                <div class="col-lg-12 col-sm-12 col-12">
                    <table class="table">
                        <thead style="color: gray">
                            <tr>
                                <th>Friend</th>
                                <th>Status</th>
                                <th>Message</th>
                                <th>Poke</th>
                            </tr>
                        </thead>
                        <tbody id="friendslist-input">
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block jscripts %}
<script type="text/javascript" src="{{url_for('static', filename='js/friendslist.js')}}"></script>
{% endblock %}