{% extends 'frame.html' %}

{% block title %}Global Chatroom{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="offset-lg-2 col-lg-8 col-sm-10 col-12 main-section text-center">
            <div class="row">
                <div class="col-lg-12 col-sm-12 col-12 profile-header"></div>
            </div>
            <div class="panel-footer">
                    <div class="input-group">
                <textarea class="form-control" rows="1" id="chatText" name="chatText" placeholder="Type a message"></textarea>
                </div>
            <span class="input-group-btn">
            <button id="send" class="btn btn-primary">Send</button>
                </span>
            </div>
            <div class="panel panel-default">
                                <div class="panel panel-default">
                                    <div id="panelBody" class="panel-body">
                                    </div>
                                    </div>
                                    <!--./panel-body-->
                    
                                </div>
                                <!--panel-->
                                
                            </div>
                    
                        </div>
                        <!--row-->
                    
                    </div>
                </div>
            </div>
{% endblock %}
{% block jscripts %}
<script>
var interval = 1000; //1 secondSS
function sendMessage() {
    $.ajax({
        url: "{{ url_for('receiveMessage') }}", 
        type: "POST", 
        data: {
        'chatText': $("#chatText").val(),
        'username': $("#username").val()
        },
        success: function() {
            recvMessage(),
            $("#chatText").val('');
        }
    });
}

function recvMessage() {
    $.ajax({
        url: "{{ url_for('sendMessagesList') }}",
        type: "GET",
        success: function(result) {
            $("#panelBody").html(result);            
        },
        complete: function(result) {
            setTimeout(recvMessage, interval);
        }
    });
}

$(document).ready(function() {
    $("#chatText").keypress(function(e) {
        if (e.keyCode == 13) {
            $("#send").click();
        }
    });
    $("button").click(sendMessage);
    recvMessage()
    setTimeout(recvMessage, interval);
});

</script>
{% endblock %}