{% extends 'frame.html' %}

{% block title %}{{session['username']}}'s friends list{% endblock %}

{% block styles %}
<link href="{{url_for('static', filename='css/friends.css')}}" rel="stylesheet">
{% endblock %}

{% block body %}
<!--Friends list-->
<div class="container">
    <div class="row">
        <div class="offset-lg-2 col-lg-8 col-sm-10 col-12 main-section text-center">
            <div class="row">
                <div class="col-lg-12 col-sm-12 col-12 profile-header"></div>
            </div>
            <div class="row user-detail">
                <div class="col-lg-12 col-sm-12 col-12">
                    <table class="table">
                        <thead style="color: gray">
                            <tr>
                                <th>Friend</th>
                                <th>Status</th>
                                <th>Message</th>
                                <th>Poke</th>
                            </tr>
                        </thead>
                        <tbody id="friendslist-input">
                            {% for row in f_list %}
                                {% if row[2] == 0 %} <!--If neither are friends then do nothing-->
                                {% else %}
                                <tr>
                                    <td> 
                                        <!--Name of friend-->
                                        {% if row[0] == g_username %}
                                        <a class="nav-link" href="{{url_for('profile', name=row[1])}}">{{row[1]}}</a>
                                        {% else %}
                                        <a class="nav-link" href="{{url_for('profile', name=row[0])}}">{{row[0]}}</a>
                                        {% endif %}
                                    </td>
                                    <td> <!--Different button depending on status of friendship-->
                                        {% if row[0] == g_username %} <!--If user is in user1-->
                                            {% if (row[2]|int) == 3 %} <!--Mutual Friends-->
                                            <a href="{{url_for('removefriend', name=row[1])}}" class="btn btn-mutualf">
                                                <i class="fab fa-gratipay"></i>
                                                Mutual Friend
                                            </a>
                                            {% elif (row[2]|int) == 1 %} <!--Friends-->
                                            <a href="{{url_for('removefriend', name=row[1])}}" class="btn btn-addedf">
                                                <i class="fas fa-spinner fa-pulse"></i>
                                                Friends
                                            </a>
                                            {% else %} <!--Add Friend-->
                                            <a href="{{url_for('addfriend', name=row[1])}}" class="btn btn-addf">
                                                <i class="fas fa-hands-helping"></i>
                                                Add Friend
                                            </a>
                                            {% endif %}
                                        {% else %} <!--If friend is in user1-->
                                            {% if (row[2]|int) == 3 %} <!--Mutual Friends-->
                                            <a href="{{url_for('removefriend', name=row[0])}}" class="btn btn-mutualf">
                                                <i class="fab fa-gratipay"></i>
                                                Mutual Friend
                                            </a>
                                            {% elif (row[2]|int) == 2 %} <!--Friends-->
                                            <a href="{{url_for('removefriend', name=row[0])}}" class="btn btn-addedf">
                                                <i class="fas fa-spinner fa-pulse"></i>
                                                Friends
                                            </a>
                                            {% else %} <!--Add Friend-->
                                            <a href="{{url_for('addfriend', name=row[0])}}" class="btn btn-addf">
                                                <i class="fas fa-hands-helping"></i>
                                                Add Friend
                                            </a>
                                            {% endif %}
                                        {% endif %}
                                    </td>
                                    <td> <!--Button to send message to friend-->
                                        <button class="btn btn-msgf">Send Message</button>
                                    </td>
                                    <td> <!--Button to poke friend-->
                                        <button class="btn btn-info">Poke</button>
                                    </td>
                                </tr>
                                {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block jscripts %}
<script type="text/javascript" src="{{url_for('static', filename='js/friendslist.js')}}"></script>
{% endblock %}