{% extends 'frame.html' %}

{% block title %}Home{% endblock %}

{% block body %}
<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <div class="row d-flex">
        <div style="margin: 0 auto; left: 50%">
          <video id="video"></video>
          <canvas id="canvas" style="display: none"></canvas>
        </div>
      </div>
      <div class="row d-flex">
        <div class="btn-group-lg" role="group" style="left: 50%; text-align:center; margin: 0 auto;" aria-label="Camera Buttons">
          <button id="snap" class="btn btn-success btn-sm">Snap Photo</button>
          <select id="filters">
            <option value="none">Normal</option>
            <option value="grayscale(100%)">Grayscale</option>
            <option value="sepia(100%)">Sepia</option>
            <option value="invert(100%)">Invert</option>
            <option value="hue-rotate(90deg)">Hue Shift 1</option>
            <option value="hue-rotate(270deg)">Hue Shift 2</option>
            <option value="blue(2px)">Mild Blur</option>
            <option value="blur(10px)">Mid Range Blur</option>
            <option value="blur(25px)">Super Blur</option>
            <option value="contrast(50%)">Mild Contrast</option>
            <option value="contrast(100%)">Mid Range Contrast</option>
            <option value="contrast(300%)">Super Contrast</option>
          </select>
          <a id="saveB" class="btn btn-primary btn-sm">Save Photo</a>
        </div>
      </div>
      <form id="checkListOfUsers">
	      {% for friendName in friendList %}
		<div class="form-check">
			<input class = "form-check-input" type="checkbox" value = "{{friendName[0]}}" id="{{friendName[0]}}">
			<label class = "form-check-label" for="{{friendName[1]}}">{{friendName[0]}}</label>
		</div>
	      {% endfor %}
<!--
	     <div class="form-check">
		      <input class="form-check-input" type="checkbox" value="exampleUser1" id="defaultCheck1">
	      	<label class="form-check-label" for="defaultCheck1">exampleUser1</label>
	</div>
      	<div class="form-check">
		      <input class="form-check-input" type="checkbox" value="exampleUser2" id="defaultCheck2">
	      	<label class="form-check-label" for="defaultCheck1">exampleUser2</label>
	</div>
//-->
	<button id="sendToFriends" class="btn btn-primary mb-1" type="button">Send picture</button>
      </form>
    </div>
  </div>
  <div>
    <div id="photos" style="margin: 0 auto; left: 50%;">

    </div>
  </div>
</div>
{% endblock %}

{% block jscripts %}
<script type="text/javascript" src="{{url_for('static', filename='js/camera.js')}}"></script>
{% endblock %}
