{% extends 'frame.html' %}

{% block title %}Messenger{% endblock %}

{% block body %}
	<h1> Welcome {{username}} </h1>
	<br>
	<h5>Note that messages are deleted after the first view</h5>
	
	{% for friendName in friendPicDict %}
		{% if friendName[0]==username %}
			<br><h3>PictureMessages from {{ friendName[1]}}</h3>
		{% else %}
			<br><h3>Picture Messages from {{ friendName[0]}} </h3>
		{% endif %}
		{% if friendPicDict[friendName] is not none %}
			{% for entry in friendPicDict[friendName] %}
				<br><img src="{{entry[2]}}">
			{% endfor %}
		{% else %} <br> No messages. Find some friends that send photos
		{% endif %}
	{% endfor %}
{% endblock %}

{% block jscripts %}
<script type="text/javascript" src="{{url_for('static', filename='js/messenger.js')}}"></script>
{% endblock %}
