{% extends 'frame.html' %}

{% block title %}Messenger{% endblock %}

{% block body %}
	<h1> Welcome {{username}} </h1>
	{% for friendName in friendPicDict %}
		<br><h3>Messages from {{ friendName[0]}} </h3>
		{% if friendPicDict[friendName] is not none %}
			{% for entry in friendPicDict[friendName] %}
				<br><img src="{{entry[2]}}">
			{% endfor %}
		{% else %} <br> No messages. Find some friends that send photos
		{% endif %}
	{% endfor %}
{% endblock %}

{% block jscripts %}
<script type="text/javascript" src="{{url_for('static', filename='js/messenger.js')}}"></script>
{% endblock %}
