/* This stylesheet is used to stylize friends. Ex: Button colors etc. Not for stlizing friendslist.html by itself */

/* btn-mutualf: Mutual friends */

.btn-mutualf {
    color: #FFFFFF;
    background-color: #ff69b4;
    border-color: #ff69b4;
}

.btn-mutualf:hover,
.btn-mutualf:focus,
.btn-mutualf:active,
.btn-mutualf.active,
.open .dropdown-toggle.btn-mutualf {
    color: #FFFFFF;
    background-color: #D17DA7;
    border-color: #FF69B4;
}

.btn-mutualf:active,
.btn-mutualf.active,
.open .dropdown-toggle.btn-mutualf {
    background-image: none;
}

.btn-mutualf.disabled,
.btn-mutualf[disabled],
fieldset[disabled] .btn-mutualf,
.btn-mutualf.disabled:hover,
.btn-mutualf[disabled]:hover,
fieldset[disabled] .btn-mutualf:hover,
.btn-mutualf.disabled:focus,
.btn-mutualf[disabled]:focus,
fieldset[disabled] .btn-mutualf:focus,
.btn-mutualf.disabled:active,
.btn-mutualf[disabled]:active,
fieldset[disabled] .btn-mutualf:active,
.btn-mutualf.disabled.active,
.btn-mutualf[disabled].active,
fieldset[disabled] .btn-mutualf.active {
    background-color: #FF69B4;
    border-color: #FF69B4;
}

.btn-mutualf .badge {
    color: #FF69B4;
    background-color: #FFFFFF;
}

/* btn-addedf: Friend request sent but not accepted */

.btn-addedf {
    color: #FFFFFF;
    background-color: #5900FF;
    border-color: #5900FF;
}

.btn-addedf:hover,
.btn-addedf:focus,
.btn-addedf:active,
.btn-addedf.active,
.open .dropdown-toggle.btn-addedf {
    color: #FFFFFF;
    background-color: #C09EFF;
    border-color: #5900FF;
}

.btn-addedf:active,
.btn-addedf.active,
.open .dropdown-toggle.btn-addedf {
    background-image: none;
}

.btn-addedf.disabled,
.btn-addedf[disabled],
fieldset[disabled] .btn-addedf,
.btn-addedf.disabled:hover,
.btn-addedf[disabled]:hover,
fieldset[disabled] .btn-addedf:hover,
.btn-addedf.disabled:focus,
.btn-addedf[disabled]:focus,
fieldset[disabled] .btn-addedf:focus,
.btn-addedf.disabled:active,
.btn-addedf[disabled]:active,
fieldset[disabled] .btn-addedf:active,
.btn-addedf.disabled.active,
.btn-addedf[disabled].active,
fieldset[disabled] .btn-addedf.active {
    background-color: #5900FF;
    border-color: #5900FF;
}

.btn-addedf .badge {
    color: #5900FF;
    background-color: #FFFFFF;
}

/* btn-addf: Add friend button */

.btn-addf {
    color: #FFFFFF;
    background-color: #4C64C7;
    border-color: #4C64C7;
}

.btn-addf:hover,
.btn-addf:focus,
.btn-addf:active,
.btn-addf.active,
.open .dropdown-toggle.btn-addf {
    color: #FFFFFF;
    background-color: #7D91E3;
    border-color: #4C64C7;
}

.btn-addf:active,
.btn-addf.active,
.open .dropdown-toggle.btn-addf {
    background-image: none;
}

.btn-addf.disabled,
.btn-addf[disabled],
fieldset[disabled] .btn-addf,
.btn-addf.disabled:hover,
.btn-addf[disabled]:hover,
fieldset[disabled] .btn-addf:hover,
.btn-addf.disabled:focus,
.btn-addf[disabled]:focus,
fieldset[disabled] .btn-addf:focus,
.btn-addf.disabled:active,
.btn-addf[disabled]:active,
fieldset[disabled] .btn-addf:active,
.btn-addf.disabled.active,
.btn-addf[disabled].active,
fieldset[disabled] .btn-addf.active {
    background-color: #4C64C7;
    border-color: #4C64C7;
}

.btn-addf .badge {
    color: #4C64C7;
    background-color: #FFFFFF;
}

/* btn-msgf: Message button */

.btn-msgf {
    color: #FFFFFF;
    background-color: #00C5E8;
    border-color: #00C5E8;
}

.btn-msgf:hover,
.btn-msgf:focus,
.btn-msgf:active,
.btn-msgf.active,
.open .dropdown-toggle.btn-msgf {
    color: #FFFFFF;
    background-color: #00A5C2;
    border-color: #00C5E8;
}

.btn-msgf:active,
.btn-msgf.active,
.open .dropdown-toggle.btn-msgf {
    background-image: none;
}

.btn-msgf.disabled,
.btn-msgf[disabled],
fieldset[disabled] .btn-msgf,
.btn-msgf.disabled:hover,
.btn-msgf[disabled]:hover,
fieldset[disabled] .btn-msgf:hover,
.btn-msgf.disabled:focus,
.btn-msgf[disabled]:focus,
fieldset[disabled] .btn-msgf:focus,
.btn-msgf.disabled:active,
.btn-msgf[disabled]:active,
fieldset[disabled] .btn-msgf:active,
.btn-msgf.disabled.active,
.btn-msgf[disabled].active,
fieldset[disabled] .btn-msgf.active {
    background-color: #00C5E8;
    border-color: #00C5E8;
}

.btn-msgf .badge {
    color: #00C5E8;
    background-color: #FFFFFF;
}